<div class="container pt-5">
    <div class="row">
        <div class="col">
            <div class="alert" [ngClass]="{
                'alert-primary': theme === 'primary',
                'alert-secondary': theme === 'secondary',
                'alert-success': theme === 'success',
                'alert-danger': theme === 'danger',
                'alert-warning': theme === 'warning',
                'alert-info': theme === 'info',
                'alert-light': theme === 'light',
                'alert-dark': theme === 'dark'
            }" role="alert">
                Click on the buttons below to change the theme color.
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-primary m-2" (click)="theme = 'primary'">Primary</button>
                <button type="button" class="btn btn-secondary m-2" (click)="theme = 'secondary'">Secondary</button>
                <button type="button" class="btn btn-success m-2" (click)="theme = 'success'">Success</button>
                <button type="button" class="btn btn-danger m-2" (click)="theme = 'danger'">Danger</button>
                <button type="button" class="btn btn-warning m-2" (click)="theme = 'warning'">Warning</button>
                <button type="button" class="btn btn-info m-2" (click)="theme = 'info'">Info</button>
                <button type="button" class="btn btn-light m-2" (click)="theme = 'light'">Light</button>
                <button type="button" class="btn btn-dark m-2" (click)="theme = 'dark'">Dark</button>
            </div>
        </div>
        <div class="col">
            <div class="card" [ngClass]="{
                'text-bg-primary': theme === 'primary',
                'text-bg-secondary': theme === 'secondary',
                'text-bg-success': theme === 'success',
                'text-bg-danger': theme === 'danger',
                'text-bg-warning': theme === 'warning',
                'text-bg-info': theme === 'info',
                'text-bg-light': theme === 'light',
                'text-bg-dark': theme === 'dark'
            }">
                <div class="card-header">Lorem Ipsum</div>
                <div class="card-body">
                    <h5 class="card-title">What is Lorem Ipsum?</h5>
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </div>
        </div>
    </div>
</div>
